:root {
  --primary-color: #40146d;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  border-radius: 0 0 19px 19px;
  box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 0px 0px inset,
    rgba(255, 255, 255, 0.439) 0px -0px 10px 0px inset,
    rgba(255, 255, 255, 0.303) 0px -20px 40px 10px inset;
  z-index: 9;
}

header h1 {
  color: white;
  padding: 1rem 0;
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Architects Daughter", cursive;
}

body {
  background-image: url("images/4664119_461.jpg");
  background-size: cover;
  background-repeat: repeat;
  /* padding: 0 2rem; */
  margin: 0;
  /* only for example */
  padding: 0 30%;
}

.question-card {
  background-color: var(--primary-color);
  border-radius: 19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 5rem 0;
  gap: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
  box-shadow: rgba(255, 255, 255, 0.9) 0px -1px 5px 0px inset,
    rgba(255, 255, 255, 0.439) 0px -5px 15px 0px inset;
}

.question {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.bookmark {
  width: 40px;
  position: absolute;
  top: -10px;
  right: 50px;
}

.answer-button {
  background-color: #3c1563;
  color: white;
  border-radius: 25px;
  width: 150px;
  border: 2px solid white;
  align-self: center;
  padding: 0.5rem;
}

.answer-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.choices button {
  border-radius: 7px;
  border: 2px solid white;
  background-color: white;
  color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  position: sticky;
  bottom: 0;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 19px 19px 0 0;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 0px inset,
    rgba(255, 255, 255, 0.439) 0px 0px 0px 0px inset,
    rgba(255, 255, 255, 0.303) 0px 0px 40px 0px inset;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  color: white;
  padding: 0.2rem 0;
}

.home-icon {
  height: 40px;
}

.bookmark-icon {
  height: 30px;
}

.profil-icon {
  height: 30px;
}
